html {
    scroll-behavior: smooth;
    overflow: visible;
}

.customBackgroundNavbar {
    background: linear-gradient(267.93deg, #63A1FF 11.94%, rgba(51, 145, 255, 0) 67.03%), #6D48FF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.carouselImages {
    width: 100%;
    height: 500px;
    filter: blur(5px) brightness(60%);
    object-fit: fill;
    overflow: hidden;
}

body {
    background-size: cover;
    background-attachment: fixed;
    overflow: overlay;
    transition: 0.5s;
    backdrop-filter: blur(5px);
}

.carousel-caption {
    top: 43%;
}

.scrollDownButton {
    height: 25px;
    width: 25px;
    transition: 0.5s;
}

.scrollDownButton:hover {
    transform: translateY(40%);
}


/*scrollbar start here*/


/* width */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-top: 93px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #0303a1;
}


/*end of scrollbar script*/

#navbarLogo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    height: 60px;
    width: auto;
}

#profile {
    background: linear-gradient(267.93deg, #63A1FF 11.94%, rgba(51, 145, 255, 0) 67.03%), #6D48FF;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    margin: auto;
}

#listOfProfiles {
    border-style: none;
}

#listOfProfiles tr th {
    font-size: 30px;
    font-weight: 60;
    width: auto;
    padding-bottom: 40px;
    width: 200px;
    padding-right: 10px;
    padding-left: 10px;
}

#listOfProfiles tr td {
    padding-bottom: 30px;
    width: 200px;
    padding-right: 10px;
    padding-left: 10px;
}

.workerimagecontainer {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.workerimage {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

.workerimageoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55, 55, 55, .5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-radius: 10px;
}

.workerimagecontainer:hover .workerimageoverlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.workerimagetext {
    font-size: 30px;
    font-weight: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

footer {
    font-size: 20px;
}